<div class="homepage-container">
    <div class="homepage-popular-container">
        <div class="popular-first-grid">
            <div class="homepage-popular-info-container" id="first-popular-container">
                <img src="../../assets/images/8.jpg" alt="first-image">
                <div class="popular-description">
                    <h3>Why Brian Clough is the GOAT?</h3>
                    <h6>Vivek Singh Bisht - May 27th,2016</h6>
                </div>
            </div>
        </div>
        <div class="popular-second-grid">
            <div class="homepage-popular-info-container small-popular-containers" id="second-popular-container">
                <img src="../../assets/images/2.jpg" alt="second-image">
                <div class="popular-description">
                    <h3>Mo Salah: One-season wonder?</h3>
                    <h6>Vivek Singh Bisht - July 28th,2019</h6>
                </div>
            </div>
            <div class="homepage-popular-info-container small-popular-containers" id="third-popular-container">
                <img src="../../assets/images/3.jpg" alt="third-image">
                <div class="popular-description">
                    <h3>Mo Salah: One-season wonder?</h3>
                    <h6>Vivek Singh Bisht - July 28th,2019</h6>
                </div>
            </div>
            <div class="homepage-popular-info-container small-popular-containers" id="fourth-popular-container">
                <img src="../../assets/images/5.jpg" alt="fourth-image">
                <div class="popular-description">
                    <h3>Mo Salah: One-season wonder?</h3>
                    <h6>Vivek Singh Bisht - July 28th,2019</h6>
                </div>
            </div>
            <div class="homepage-popular-info-container small-popular-containers" id="fifth-popular-container"> 
                <img src="../../assets/images/8.jpg" alt="fifth-image">
                <div class="popular-description">
                    <h3>Mo Salah: One-season wonder?</h3>
                    <h6>Vivek Singh Bisht - July 28th,2019</h6>
                </div>
            </div>
        </div>
        
    </div>
    <div class="homepage-recommended-container">
        <div class="homepage-recommended-container-grid">
            
            <div class="homepage-recommended-heading-container">
                <h3>Recommended</h3>
            </div>
            <div class="homepage-recommended-info-container-grid">
                <div class="homepage-recommended-info-container" id="first-recommended-container">
                    <div class="homepage-recommended-info-image-container">
                        <img src="../../assets/images/2.jpg" alt="first-image">
                    </div>
                    <div class="homepage-recommended-info-description-container">
                        <h3>Mo Salah: One-time wonder?</h3>
                        <h6>Mivek Singh Bisht-January 25th, 1969</h6>
                    </div>
                    
                </div>
                <div class="homepage-recommended-info-container" id="second-recommended-container"> 
                    <div class="homepage-recommended-info-image-container">
                        <img src="../../assets/images/5.jpg" alt="second-image">
                    </div>
                    <div class="homepage-recommended-info-description-container">
                        <h3>Mo Salah: One-time wonder?</h3>
                        <h6>Vivek Singh Bisht-January 25th, 1969</h6>
                    </div>
                </div>
                <div class="homepage-recommended-info-container" id="third-recommended-container">
                    <div class="homepage-recommended-info-image-container">
                        <img src="../../assets/images/3.jpg" alt="third-image">
                    </div>
                    <div class="homepage-recommended-info-description-container">
                        <h3>Mo Salah: One-time wonder?</h3>
                        <h6>Vivek Singh Bisht-January 25th, 1969</h6>
                    </div>
                    
                </div>
                <div class="homepage-recommended-info-container" id="fourth-recommended-container">
                    <div class="homepage-recommended-info-image-container">
                        <img src="../../assets/images/5.jpg" alt="fourth-image">
                    </div>
                    <div class="homepage-recommended-info-description-container">
                        <h3>Mo Salah: One-time wonder?</h3>
                        <h6>Vivek Singh Bisht-January 25th, 1969</h6>
                    </div>
            
                </div>
                <div class="homepage-recommended-info-container" id="fifth-recommended-container">
                    <div class="homepage-recommended-info-image-container">
                        <img src="../../assets/images/4.jpg" alt="fifth-image">
                    </div>
                    <div class="homepage-recommended-info-description-container">
                        <h3>Mo Salah: One-time wonder?</h3>
                        <h6>Vivek Singh Bisht-January 25th, 1969</h6>
                    </div>

                </div>         
                <div class="homepage-recommended-info-container" id="sixth-recommended-container">
                    <div class="homepage-recommended-info-image-container">
                        <img src="../../assets/images/6.jpg" alt="sixth-image">
                    </div>
                    <div class="homepage-recommended-info-description-container">
                        <h3>Mo Salah: One-time wonder?</h3>
                        <h6>Vivek Singh Bisht-January 25th, 1969</h6>
                    </div>

                </div>
            </div>
        </div>
    </div>
   
</div>
