<div class="account-container">
     <div class="account-edit-container">
            <a href="#"><fa-icon [icon]="faEdit"></fa-icon>Edit</a>
            
        </div>
    <div class="account-photo-container">
        <img src="../../../assets/images/profile.jpg" alt="profile-image">
       
    </div>
    <div class="account-info-container">
        <form [formGroup]="accountInfoForm">
                <div class="form-container" id="first">
                    <h6>First name: </h6>
                    <input type="text" name="firstname" value="Vivek">
                    <br>
                </div>
                <div class="form-container" id="second">
                    <h6>Last name:<br></h6>
                    <input type="text" name="lastname" value="Bisht">
                </div>
                <div class="form-container" id="third">
                    <h6>Email:<br></h6>
                    <input type="text" name="lastname" value="bviveksingh96@gmail.com">
                </div>
                <div class="form-container" id="fourth">
                        <h6>Username<br></h6>
                        <input type="text" name="lastname" value="">
                </div>
                <div class="form-container" id="fifth">
                        <h6>Password<br></h6>
                        <input type="text" name="lastname" value="">
                </div>
                <div class="form-container" id="sixth">
                        <h6>Confirm Password:<br></h6>
                        <input type="text" name="confirmpassword" value="">
                </div>            
                
                <br><br>
        </form>
    </div>
</div>
