<div class="feed-container">
    <div class="feed-left-container">
        <div class="feed-profile-container">
            <div class="feed-profile-photo-container">
                <img src="../../assets/images/profile.jpg" alt="profile-image">
                
            </div>
            <div class="feed-profile-info-container">
                <div class="feed-profile-info-name-container">
                    <a (click)="openProfile()">{{user.firstname}} {{user.lastname}}</a>    
                </div>
                <div class="feed-profile-info-followers-container">
                    <h3>Followers</h3>
                    <h6>{{user.followers}}</h6>
                </div>
                <div class="feed-profile-info-following-container">
                    <h3>Following</h3>
                    <h6>{{user.following}}</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="feed-middle-container">
        <div class="feed-info-container" *ngFor="let blog of blogs">
                <div [routerLink]="['/blog/', blog.id]" class="feed-info-image-container">
                    <img [src]="blog.featured_image" alt="first-image">
                </div>
                <div class="feed-info-description-container">
                    <h3 style="cursor: pointer;" [routerLink]="['/blog/',blog.id]">{{blog.title}}</h3>
                    <h6  style="cursor: pointer;"[routerLink]="['/profile/',user.id]">{{blog.authorname}} - August 31st, 2018</h6>
                    <p>Nunc sollicitudin quam at bibendum sollicitudin. Ut posuere elit ut neque porttitor, sed fringilla est mollis.
                    Quisque bibendum sodales commodo. Nullam nisi tellus, sagittis a lacinia quis, sagittis et arcu.
                    </p>
                </div>
        </div>    
    </div>
    <div class="feed-right-container">
        <div class="feed-trending-container">
            <div class="feed-trending-heading-container">
                <h3>Trending</h3>
            </div>
            <div class="feed-trending-links-container">
                <ul>
                    <li><a href="#">Souness</a></li>
                    <li><a href="#">Gerrard Slip</a></li>
                    <li><a href="#">Pogba</a></li>
                    <li><a href="#">Keane</a></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="feed-menu-container">
        <div class="feed-menu-profile-icon-container">
            <!-- <img src="../../assets/images/profile.jpg" alt="profile-picture"> -->
            <fa-icon [icon]="faUserCircle" size="lg"></fa-icon>
        </div>
        <div class="feed-menu-heading-container">
            <h3>Feed</h3>
        </div>
        <div class="feed-menu-trending-icon-container">
            <fa-icon [icon]="faBolt" size="lg"></fa-icon>
        </div>
    </div>
    <!-- <div class="feed-small-profile-container">
        <div class="feed-small-profile-main-container">
            <div class="feed-small-profile-close-container">
                <fa-icon [icon]="faTimes" size="lg"></fa-icon>
            </div>
            <div class="feed-small-profile-picture-container">
                <img src="../../assets/images/profile.jpg" alt="profile-picture">
            </div>
            <div class="feed-small-profile-info-container">
                    <div class="feed-small-profile-info-heading-container">
                        <h2>Vivek Singh Bisht</h2>
                    </div>
                    <div class="feed-small-profile-info-followers-container">
                        <h3>Followers</h3>
                        <h6>28</h6>
                    </div>
                    <div class="feed-small-profile-info-following-container">
                        <h3>Following</h3>
                        <h6>218</h6>
                    </div>
            </div>
        </div>

    </div>   -->
</div>