<div class="wrapper">
  <div class="small-nav">
    <div class="small-nav-info">
          <ul>
            <li><p>19th,November 2019</p></li>
            <li><a routerLink="/login" *ngIf="!userLoggedIn" >Sign in</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a (click)="signOut()" *ngIf="userLoggedIn">Sign out</a> </li>
            <li><a routerLink="/settings" *ngIf="userLoggedIn">Account Settings</a> </li>
          </ul>
     
    </div>
    <div class="small-nav-social">
      <a href="#">
        <fa-icon [icon]="faFacebook"></fa-icon>
      </a>
      <a href="">
        <fa-icon [icon]="faInstagram"></fa-icon>
      </a>  
      <a href="">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </a>  
        
      
    </div>
  </div>
  <div class="big-nav">
    <div class="big-nav-heading">
      <a routerLink="">DANK FOOTBALL | OUTSIDE THE BOX</a>  
    </div>
    <div class="big-nav-menu-bar"> 
      <fa-icon (click)="toggleFullNavigation()" [icon]="faBars"></fa-icon>
    </div>
    <div class="big-nav-links">
      <ul>
        <li><a routerLink="/write_blog">WRITE BLOG</a></li>
        <li><a routerLink="/feed">BLOG FEED</a></li>
        <li><a href="#"><fa-icon [icon]="faSearch"></fa-icon></a></li>
      </ul>
    </div>
  </div>
  <div class="fullpage-nav" id="fullpage-navigation">
    <div class="fullpage-nav-social-close"> 
      <div class="fullpage-nav-social">
        <ul>
          <li><a href="#"><fa-icon [icon]="faFacebook" size="lg"></fa-icon></a></li>
          <li><a href="#"><fa-icon [icon]="faInstagram" size="lg"></fa-icon></a></li>
          <li><a href="#"><fa-icon [icon]="faTwitter" size="lg"></fa-icon></a></li>
        </ul>
      </div>  
      <div class="fullpage-nav-close">
        <fa-icon (click)="toggleFullNavigation()" [icon]="faTimes" size="2x"></fa-icon>
      </div>
    </div>
    <div class="fullpage-nav-links">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Blog Feed</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Sign in</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#"><fa-icon [icon]="faSearch"></fa-icon></a></li>  
      </ul>
    </div>
  </div>
  <div class="main">
    <router-outlet></router-outlet>   
  </div>
</div>


<!-- <div class="sign-in-register-container" *ngIf="loadSignInModal">
    <div class="sign-in-register-main">
        <div class="sign-in-register-close" (click)="loadSignInModal=!loadSignInModal">
          <fa-icon [icon]="faTimes" size="2x"></fa-icon>
        </div>
        <div class="sign-in-register-header">
            <h2>{{loadSignInForm? "Sign-in" : "Register"}}</h2>
          </div>  
          <div class="sign-in-register-body">
            <div *ngIf="loadSignInForm" class="sign-in-body">
              <form [formGroup]="signinForm" >
                <div class="input-container" id="signin-email">
                  <label for="email">Email</label>
                  <input formControlName="signInEmail" type="text" name="email">
                </div>
                <div class="input-container" id="signin-password">
                  <label for="password">Password</label>  
                  <input formControlName="signInPassword" type="password" name="password">
                </div>

                <div class="button-container" id="signin-button">
                    <button>Sign In</button>
                </div>
                
              </form>
            </div>
            <div *ngIf="!loadSignInForm" class="register-body">
              <form [formGroup]="registerForm" (ngSubmit)="register(registerForm)">
                  <div class="input-container" id="firstname">
                    <label>First Name</label>
                    <input type="text" formControlName="firstname" />
                    <div *ngIf="isRegisterFormSubmitted && f.firstname.errors" >
                        <div *ngIf="f.firstname.errors.required">First Name is required</div>
                    </div>
                  </div>
                  <div class="input-container" id="lastname">
                    <label>Last Name</label>
                    <input type="text" formControlName="lastname" />
                    <div *ngIf="isRegisterFormSubmitted && f.lastname.errors" >
                        <div *ngIf="f.lastname.errors.required">Last Name is required</div>
                    </div>
                  </div>
                  <div class="input-container" id="register-email">
                    <label>Email</label>
                    <input type="email" formControlName="email" />
                    <div *ngIf="isRegisterFormSubmitted && f.email.errors" >
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                    
                  </div>
                  <div class="input-container" id="register-password">
                    <label>Password</label>
                    <input type="text" formControlName="password" />
                    <div *ngIf="isRegisterFormSubmitted && f.password.errors" >
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>

                  </div>
                  <div class="input-container" id="confirm-password">
                    <label>Confirm Password</label>
                    <input type="text" formControlName="confirmpassword" />
                    <div *ngIf="isRegisterFormSubmitted && f.confirmpassword.errors" >
                        <div *ngIf="f.confirmpassword.errors.required">Confirm password is required</div>
                        <div *ngIf="f.confirmpassword.errors.mustMatch">Passwords must match</div>
                    </div>
  
                  </div>
                   <div class="button-container" id="register-button">
                      <button type="submit">Register</button>
                   </div>                 
                  
              </form>

            </div>
          </div>
          <div class="sign-in-register-footer">
            <div *ngIf="loadSignInForm" class="sign-in-footer">
              <div class="sign-in-footer-container">
                <h2 class="sign-in-register-footer-heading">Not a Member?</h2>
                <h2 class="sign-in-register-footer-link" (click)="toggleSigninRegister()">Register</h2>
              </div>
            </div>
            <div *ngIf="!loadSignInForm" class="register-footer">
              <div class="register-footer-container">
                  <h2 class="sign-in-register-footer-heading">Already a member?</h2>
                  <h2 class="sign-in-register-footer-link" (click)="toggleSigninRegister()" >Sign in</h2>
              </div>

            </div>            
          </div> 
    </div>
    
  </div>
 -->

