<div class="settings-container">
    <div class="settings-nav-container">
        <div class="settings-nav-links-container">
            <ul>
                <li><a routerLink="/account">Account</a></li>
                <li><a routerLink="/email">Email-settings</a></li>
                <li><a routerLink="/connections">Connections</a></li>
                <li><a routerLink="/security">Security</a></li>
            </ul>
        </div>
    </div>
    <div class="settings-body-container">
        <router-outlet></router-outlet>
    </div>
</div>
